name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  main:
    strategy:
      matrix:
        node: [10.13, 12, 14, 15]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    
    - name: Install Dependencies
      run: npm install

    - name: Build the app
      run: npm build
  
    - name: Run tests
      run: npm test
